# Data Science Tools and Ecosystem

# introduction
in this notebooks data science tools are summarized

## some of the key takeaways of this course are
__objectives:__
- popular data science languages
-  popular libraries used in data science
-  popular data science tools
-  basic arithmetic operations
-  code to multiply and add integer simulataneously
-  code to convert minutes into hours

# Data Science Languages
## some of the popular languages that data scientist use are:
1. python
2. R
3. Scala
4. Julia
5. Sql

# popular  libraries used in data science

## some of the most commonly used libraries used by data scientist includes:
1. pandas
2. Numpy
3. Matplotlib
4. seaborn
5. Scikit learn

# popular data science tools

|data science tools|
--------------------
|pandas|
|Knime|
|scikit learn|
|Apache hadoop|
|Tableau|
|Matlab|
|SAS|
|jupyter notebook|
|WEKA|

# arithmetic operations

### below are few examples of evaluating arithmatic operations

In [2]:
2+2
# this is the basic addition operation

4

In [3]:
5-2  # this is the basic substraction operation

3

In [4]:
5*2  # this is the basic multiplication operation

10

# create a code to multiply and add integers

In [6]:
(3*4)+5  # this is a simple arithmatic operations to multiply first and then add integers

17

# code to convert minute into hours

In [11]:
def convertminutes(n):
    hours = n//60;    #  here we divide the number by 60 because we know that there are 60 minutes in one hour
    print("hours=", hours);
n= 180;
convertminutes(n)

hours= 3

## author
   Udit Katiyar